[submodule "submodules/Analytics"]
	path = submodules/Analytics
	url = git@github.com:asfadmin/Discovery-Analytics.git
	branch = prod
[submodule "cameron_experimental"]
	path = cameron_experimental
	url = git@github.com:asfadmin/cameron_experimental.git
	branch = master
