certifi==2019.11.28
chardet==3.0.4
Click==7.0
dateparser==0.7.2
defusedxml==0.6.0
Flask==1.1.1
geojson==2.5.0
geomet==0.2.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.1
kml2geojson==4.0.2
lxml==4.4.2
MarkupSafe==1.1.1
numpy==1.18.1
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2019.3
regex==2020.1.8
requests==2.22.0
scikit-learn==0.22.1
scipy==1.4.1
Shapely==1.6.4.post2
six==1.13.0
sklearn==0.0
tzlocal==2.0.0
urllib3==1.25.7
Werkzeug==0.16.0
